<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
		<link href="../static/css/main.css"
			  th:href="@{css/main.css}" 
			  rel="stylesheet" media="screen"/>
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
			  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
			  rel="stylesheet" media="screen" />
		<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    </head>
    <body>
		<div class="jumbotron">
			<img src="../static/images/wxqr.png" alt="test img"
				 th:src="@{images/wxqr.png}"/>
			<h1>Hello</h1>
			<h2>Fellow Spring Framework Gurus!!!</h2>
		</div>
		<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    </body>
</html>